<section class="article-section" id="china">
  <h1>Baidu to acquire Joyy’s livestreaming service in $3.6b deal</h1>
  <div id="subheading">
    <span>Doris Yu | </span>
    <span>18 Nov 2020</span>
  </div>
  <p>
    Chinese search engine Baidu announced that it has entered into an agreement
    to acquire Joyy’s domestic livestreaming business YY Live in a US$3.6
    billion deal.
  </p>
  <p>
    The closing of the transaction is subject to conditions and is expected to
    take place in the first half of 2021.
  </p>
  <p>
    Baidu’s acquisition of the video-based entertainment livestreaming unit will
    include the YY mobile app, the YY.com website, and PC YY, among others.
  </p>
  <p>
    With the acquisition, YY Live will have access to Baidu’s traffic and mobile
    ecosystems while the latter will receive operational experience, know-how,
    and a creator network for video-based social media development, said Robin
    Li, co-founder and CEO at Baidu.
  </p>
  <p>
    In the past year, Baidu enabled the growth of its non-advertising revenues
    by increasing log-in users and adding social engagement to their platform.
    It also expanded its non-advertising offerings, which include membership,
    livestreaming, and online games, Li noted.
  </p>
  <p>
    The Chinese tech giant also announced it has generated US$4.16 billion in
    revenue for Q3 2020, with its online market revenue from Baidu Core taking
    up US$2.72 billion. It also raked in US$2.02 billion in net income that’s
    attributable to Baidu during the period.
  </p>
  <p>
    The development comes after Tencent acquired 30 billion class B shares of
    Joyy’s Twitch-like service Huya in an US$810 million deal in August and
    became Huya’s biggest shareholder. Later, Huya acquired its rival Douyu and
    was reported to create a new game-streaming giant valued at over US$11
    billion.
  </p>
</section>
<section class="article-section" id="india">
  <div id="subheading">
    <span>TEST TEST | </span>
    <span>TEST TEST</span>
  </div>
</section>
