<section class="article-section" id="china">
  <h1>Baidu to acquire Joyy’s livestreaming service in $3.6b deal</h1>
  <div id="subheading">
    <span>Doris Yu | </span>
    <span>18 Nov 2020</span>
  </div>
  <p>
    Chinese search engine Baidu announced that it has entered into an agreement
    to acquire Joyy’s domestic livestreaming business YY Live in a US$3.6
    billion deal.
  </p>
</section>
<section class="article-section" id="india">
  <div id="subheading">
    <span>TEST TEST | </span>
    <span>TEST TEST</span>
  </div>
</section>
