.article-section {
  font-family: "Roboto";
  padding: $site-padding-left 10rem $site-padding-left 5rem;

  h1 {
    margin-bottom: 1rem;
    color: $blood-red;
  }
}

#subheading {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

figure {
  margin: 2rem 0;

  img {
    max-height: 70vh;
  }

  figcaption {
    font-size: 1rem;
    color: hsla(230, 7%, 30%, 1);
  }
}
