#contact-section {
  padding: 4rem;

  //needed because <main> elem had flex dispaly
  width: 100%;

  h1 {
    text-align: center;
  }

  form {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .fullRow {
      grid-column-start: 1;
      grid-column-end: span 2;
    }

    input,
    textarea {
      padding: 0.3rem 0.6rem;
    }
  }
}
