#contact-section {
  padding: 4rem 0;

  //needed because <main> elem had flex display
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: $transparent-red;

  > div {
    background: $transparent-gray;
    padding: 3rem 7rem;
    width: 40rem;
  }

  h1 {
    text-align: center;
  }

  form * {
    font-size: 1.2rem;
    font-family: "Roboto";
  }

  form {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 2rem;

    //for the fade out effect
    opacity: 1;
    transition: opacity 0.5s;

    .fullRow {
      grid-column-start: 1;
      grid-column-end: span 2;
    }

    input,
    textarea {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    input {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }

    textarea {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    label,
    select {
      display: block;
    }

    label {
      margin-bottom: 0.5rem;
    }

    select {
      padding: 0.5rem 0.5rem;
      width: 100%;
      color: hsla(15, 0%, 31%, 1);
    }

    button {
      margin-top: 1rem;
      padding: 1rem 0;
      background: $transparent-red;
      color: white;
      border-color: $dark-green;
      border-radius: 0.3rem;
      font-size: 1.5rem;
      border-style: solid;
      width: 15rem;
      cursor: pointer;
    }

    button:hover {
      color: $gold;
      background: $dark-green;
      border-color: $gold;
    }
  }

  #submitted {
    margin: 10rem 0;
    background: $dark-green;
    color: $gold;
    text-align: center;
    padding: 1.5rem 2.5rem;
    border-style: solid;
    border-radius: 0.6rem;

    //for the fade in effect
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
  }

  //for the fade out/in effect
  .hide {
    opacity: 0;
  }

  .show {
    display: block;
    opacity: 1 !important;
  }
}

@media (max-width: $tablet-screen) {
  #contact-section * {
    box-sizing: border-box;
  }

  #contact-section {
    padding: 2rem 0;

    h1 {
      font-size: 1.3rem;
    }

    > div {
      padding: 0 1.5rem;
      width: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      button {
        margin-bottom: 2rem;
      }
    }
  }

  #submitted {
    margin: 35vh 1vw !important;
  }
}

@media (max-width: $mobile-screen) {
  #contact-section > div {
    width: 100%;

    form * {
      font-size: 1rem;
    }

    button {
      width: 100%;
    }
  }
}
