<section id="contact-section">
  <h1>Want to advertise? Send us a message here!</h1>
  <form action="">
    <input name="firstName" type="text" placeholder="First name" />
    <input name="lastName" type="text" placeholder="Last name" />
    <input class="fullRow" name="email" type="email" placeholder="Email" />
    <input name="company" type="text" placeholder="Company name" />
    <input name="job" type="text" placeholder="Job title" />
    <input class="fullRow" name="country" type="text" placeholder="Country" />
    <textarea
      class="fullRow"
      name="howHelp"
      id=""
      cols="30"
      rows="10"
      placeholder="How can we help?"
    ></textarea>
    <div class="fullRow">
      <label for="budget">Campaign budget (USD)</label>
      <select name="budget" id="budget"></select>
    </div>
    <button class="fullRow" type="submit">Contact us</button>
  </form>
</section>
