nav {
  background: $gray;
  display: flex;
  justify-content: space-between;
  font-family: "Goldman";
  color: $dark-green;

  div {
    cursor: default;
  }

  ul > li,
  #nav-logo-wrapper {
    padding: 0 $site-padding-left;
  }

  #nav-logo-wrapper {
    font-size: 2.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 1.7rem;

    li {
      display: inline-flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }

    li:hover {
      color: $gold;
      background: $dark-green;
    }
  }
}

#nav-logo-red {
  color: $chinese-red;
}

.nav-li-clicked:hover {
  color: $dark-green;
  background: $gold;
}

@media (max-width: $tablet-screen) {
  nav {
    #nav-logo-wrapper {
      font-size: 1.5rem;
    }

    ul {
      display: none;
    }
  }
}
