aside {
  display: inline-flex;
  flex-direction: column;
  background: $dark-green;
  font-family: "Roboto Condensed";

  div {
    padding: 1rem 2rem;
    color: $gold;
    cursor: pointer;
  }

  div:hover {
    color: $dark-green;
    background: $gold;
  }

  section {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
  }
}

.side-div-clicked:hover {
  color: $gold;
  background: $blood-red;
}
