@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

aside {
  display: inline-flex;
  flex-direction: column;
  background: $dark-green;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;

  div {
    padding: 1rem 2rem;
    color: $gold;
    border-bottom-style: solid;
    border-color: $gray;
    border-width: 0.05px;
    cursor: pointer;
  }

  div:hover {
    color: $dark-green;
    background: $gold;
  }
}

.side-div-clicked:hover {
  color: $gold;
  background: $blood-red;
}
