aside {
  display: inline-flex;
  flex-direction: column;
  background: $dark-green;
  font-family: "Roboto Condensed";
  color: $gold;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;

    li {
      padding: 1rem $site-padding-left;
      cursor: pointer;
    }

    .hidden-nav {
      padding-left: $site-padding-left;
      display: none;
    }

    li:hover {
      color: $dark-green;
      background: $gold;
    }
  }
}

.side-div-clicked:hover {
  color: $gold;
  background: $blood-red;
}

@media (max-width: $tablet-screen) {
  aside {
    display: block;

    ul .hidden-nav {
      display: block;
    }
  }
}

@media (max-width: $mobile-screen) {
  aside {
    font-size: 1rem;

    li {
      padding-top: 0.7rem !important;
      padding-bottom: 0.7rem !important;
    }
  }
}
