<aside>
  <ul>
    <li class="hidden-nav article-link" linkTo="china">Home</li>
    <li id="contact-link" class="hidden-nav">Contact</li>
    <div class="hidden-nav">-----</div>
    <li class="article-link" linkTo="china">China</li>
    <li class="article-link" linkTo="india">India</li>
    <li class="article-link" linkTo="singapore">Singapore</li>
    <li class="article-link" linkTo="malaysia">Malaysia</li>
    <li class="article-link" linkTo="philippines">Philippines</li>
    <li class="article-link" linkTo="indonesia">Indonesia</li>
    <li class="article-link" linkTo="vietnam">Vietnam</li>
    <li class="article-link" linkTo="thailand">Thailand</li>
  </ul>
</aside>
