footer {
  padding: 1.3rem $site-padding-left;
  font-family: "Goldman";
  background: $gray;
}

@media (max-width: $mobile-screen) {
  footer {
    font-size: 1rem;
    padding-left: $mobile-padding-left;
  }
}
