@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Goldman&family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  font-size: 1.3rem;
  background: $transparent-gray;
  font-family: "Roboto";
  overflow-x: none;
}

main {
  display: flex;
  flex-direction: row;
}

@media (max-width: $tablet-screen) {
  main {
    display: block;
  }
}
