@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Goldman&family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  font-size: 1.3rem;
  background: hsla(230, 7%, 84%, 0.1);
}

main {
  height: 90vh;
  display: flex;
  flex-direction: row;
}
