$gray: hsla(230, 7%, 84%, 1);
$dark-green: hsla(177, 100%, 4%, 1);
$chinese-red: hsla(15, 87%, 34%, 1);
$gold: hsla(42, 79%, 54%, 1);
$blood-red: hsla(1, 93%, 22%, 1);
$transparent-gray: hsla(0, 0%, 97%, 1);
$transparent-red: hsla(15, 87%, 34%, 0.7);

$site-padding-left: 2rem;
